/* line 1, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 6, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
body {
  background-color: #FFF;
  margin: 0px;
  padding: 0px;
}

/* line 12, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#bar1 {
  border-style: solid;
  border-color: #ffd750;
  height: 100px;
  width: 30px;
  position: absolute;
  background: #ffd750;
  bottom: 50%;
  left: 275px;
}

/* line 23, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#bar2 {
  border-style: solid;
  border-color: #ff5079;
  height: 100px;
  width: 30px;
  position: absolute;
  background: #ff5079;
  bottom: 50%;
  left: 325px;
}

/* line 34, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#bar3 {
  border-style: solid;
  border-color: #ff7f50;
  height: 100px;
  width: 30px;
  position: absolute;
  background: #ff7f50;
  bottom: 50%;
  left: 375px;
}

/* line 45, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#bar4 {
  border-style: solid;
  border-color: #5079ff;
  height: 100px;
  width: 30px;
  position: absolute;
  background: #5079ff;
  bottom: 50%;
  left: 425px;
}

/* line 56, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.content-container {
  background: #FFF;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 50;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

/* line 68, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.parent1-container {
  height: 100%;
  width: 50%;
  background-color: #50d0ff;
  padding: 50px;
  display: flex;
}

/* line 76, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.parent2-container {
  height: 100%;
  width: 50%;
  background-color: #ff7f50;
  padding: 50px;
  display: flex;
}

/* line 84, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.child1-container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 93, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.child2-container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

/* line 103, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#text {
  text-align: center;
  margin: 20px;
  font-size: 1.3em;
}

/* line 109, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#text2 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin: 20px;
}

/* line 116, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#ensemble {
  position: relative;
  font-family: 'Francois One';
  text-decoration: none;
  color: #FFF;
  font-weight: 800;
  margin-bottom: 8%;
}

/* line 125, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#ensemble2 {
  position: relative;
  font-family: 'Francois One';
  color: #FFF;
  font-weight: 800;
  margin-bottom: 8%;
}

/* line 134, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.tagline {
  font-family: 'Francois One';
  font-size: 4.6em;
}

/* line 139, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.tagline2 {
  font-family: 'Francois One';
  font-size: 4.6em;
  margin-bottom: 35%;
}

/* line 146, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.index-content {
  color: white;
  font-family: 'Francois One';
  font-size: 2em;
  text-align: left;
}

/* line 154, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#jam-now {
  position: relative;
  right: 20px;
  text-decoration: none;
  font-size: 40px;
  background-color: #FFF;
  width: 100%;
  padding: 20px 80px;
  color: #ff7f50;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

/* line 170, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
i.fa.fa-arrow-circle-o-down {
  font-size: 60px;
  padding: 4px 0 0 0;
  margin-right: 10px;
}

/* line 177, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.mic-image {
  width: 30%;
  height: 30%;
  margin-right: 5%;
}

/* ======== SHOW PAGE ======= */
/* line 185, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.show-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;
}

/* line 192, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.icon-container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* line 199, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.icon {
  width: 80px;
  height: 80px;
  margin-right: -10px;
}

/* line 205, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#icon-text {
  font-family: 'Francois One';
  font-size: 3.2em;
  text-decoration: none;
  color: #ff7f50;
  box-shadow: none;
}

/* line 213, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
a:hover {
  opacity: 1;
  cursor: pointer;
}

/* line 218, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
img.icon:hover {
  border-color: none;
}

/* line 222, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
button:hover {
  background-color: #FFF;
  opacity: 1;
  color: #ff7f50;
  border: 3px solid #ff7f50;
}

/* line 232, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.callbutt {
  border: none;
  font-family: 'Francois One';
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 15px;
  display: inline-block;
  margin: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ff7f50;
  border: 3px solid #FFF;
  color: #FFF;
  padding: 20px 85px;
  border-radius: 5px;
  font-size: 20px;
  opacity: .9;
}

/* line 261, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.hidden-login-div {
  display: none;
}

/* line 265, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 55%;
  height: 75%;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 2px grey;
  z-index: 10;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

/* line 282, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.modal-header-container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

/* line 291, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#modal-header {
  font-family: 'Francois One';
  letter-spacing: 5px;
  font-size: 4em;
  margin: 0 0 5% 40%;
  color: #5a5a5a;
}

/* line 299, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.form-butt {
  position: relative;
  bottom: 50px;
}

/* line 306, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.close {
  position: relative;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  height: 50px;
  padding: 0 10px 0 0;
}

/* line 317, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.modal-input-container {
  background-color: red;
  width: inherit;
}

/* line 323, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#modal-input {
  padding: 22px;
  font-size: 1em;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  border-radius: 5px;
  margin: 0 0 10% 0;
  width: 80%;
  height: 50%;
}

/* line 336, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.call-field {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
  height: 550px;
  background-color: antiquewhite;
  box-shadow: 3px 3px 3px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 349, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.child-call-container {
  margin: 50px 0 0 0;
}

/* line 353, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.callee-container {
  box-shadow: 3px 3px 3px grey;
}

/* line 358, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.calltext {
  font-family: 'Francois One';
  position: relative;
  font-size: 5em;
  color: white;
}

/* line 365, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.fieldset-message {
  border-radius: 5px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

/* line 372, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#call-log {
  font-family: 'Francois One';
  color: #ff7f50;
  font-size: 2.5em;
  margin-top: 3%;
}

/* line 381, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#messages {
  position: relative;
  font-family: 'Francois One';
  font-size: 25px;
  color: #5a5a5a;
  width: 100%;
  background-color: #ff7f50;
  border-radius: 5px;
  margin-top: 3%;
  overflow: hidden;
}

/* line 394, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#musician-username-span {
  font-family: 'Francois One';
  color: #5a5a5a;
  font-size: 2.3em;
  width: 45%;
}

/* line 402, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.musician-username-div {
  width: inherit;
  display: flex;
  margin-bottom: 5%;
}

/* line 409, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.h2-container {
  width: 100%;
  margin: 30px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 419, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#start-session {
  width: 100%;
  font-size: 3.3em;
  color: #5a5a5a;
  font-weight: 800;
  text-align: center;
}

/* line 428, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#title-text {
  font-family: 'Francois One';
  width: 60%;
  text-align: center;
  color: #5a5a5a;
  opacity: .8;
}

/* line 437, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
input#callee {
  padding: 10px;
  border: solid 1px #FFF;
  box-shadow: inset 1px 1px 2px 0 #707070;
  font-size: 25px;
  background-color: #FFF;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 5px;
  width: 100%;
}

/* line 449, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.nav-bar {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  background-color: antiquewhite;
  box-shadow: 2px 2px 2px 0 #707070;
}

/* line 462, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.login-button-link-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* line 468, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.register-text {
  font-family: 'Francois One';
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 52.8%;
}

/* line 476, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#output1 {
  font-family: 'Dosis';
  position: relative;
  letter-spacing: 5px;
  text-align: center;
  font-size: 2.1em;
  color: #FF299C;
}

/* line 485, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#output2 {
  font-family: 'Dosis';
  font-size: 2.6em;
  color: black;
}

/* line 491, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#output3 {
  font-family: 'Dosis';
  font-size: 1.4em;
  color: black;
  position: relative;
  bottom: 40px;
}

/* line 499, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.output4 {
  font-family: 'Dosis';
  font-size: 1.4em;
  color: black;
  width: 95%;
  text-align: right;
}

/* line 507, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.video-container-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;
}

/* line 515, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.video-container-child {
  width: 100%;
  background-color: antiquewhite;
  height: 650px;
  box-shadow: 3px 3px 3px grey;
  text-align: center;
}

/* line 524, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.video-flex {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
}

/* line 531, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#video-header {
  width: 100%;
  height: 80px;
  font-size: 3em;
  color: #5a5a5a;
}

/* line 539, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#local-container {
  position: relative;
  width: 40%;
  margin-left: 5%;
  height: 400px;
  position: relative;
}

/* line 547, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#remote-container {
  width: 40%;
  margin-right: 5%;
  height: 400px;
  position: relative;
}

/* line 555, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
form#registration {
  width: 50%;
  height: 100%;
  padding: 10px 20px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 2px grey;
  margin: 10px auto;
  padding: 22px;
  border-radius: 8px;
  font-family: 'Francois One';
  text-align: center;
  position: relative;
  top: 50px;
}

/* line 571, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#registration button {
  border: none;
  font-family: 'Francois One';
  font-size: 2.1em;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 15px;
  display: inline-block;
  margin: 15px 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ff7f50;
  color: #FFF;
  padding: 15px 20px 15px 30px;
  border-radius: 5px;
  width: 80%;
}

/* line 596, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#registration input[type="text"] {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  font-size: 20px;
  width: 80%;
}

/* line 605, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#registration input[type="text"]:focus,
#registration input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

/* line 610, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#registration input[type="password"] {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  font-size: 20px;
  width: 80%;
}

/* line 618, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#registration input[type="password"]:focus,
#registration input[type="password"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

/* line 623, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#registration p {
  font-family: 'Francois One';
  color: #5a5a5a;
  font-size: 2em;
}

/* line 629, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
#back-button {
  text-decoration: none;
  float: right;
}

/* line 634, /Users/matthewfasano/Desktop/Coding/chat_music/app/assets/stylesheets/application.css.scss */
.parent-call-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
