/* line 4, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 9, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
body {
  background-image: url(/assets/sun-f0a6de1bc802ca9972c76c50032d31bb3ff4ab6f437fcad06f8a2b0b1b3a7b49.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  margin: 0px;
}

/* line 18, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#ensemble {
  position: relative;
  left: 22%;
  font-family: 'Francois One';
  text-decoration: none;
  color: #01FDF6;
  bottom: 10px;
  font-weight: 800;
}

/* line 28, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.icon-container {
  position: absolute;
  width: 20%;
  height: 100px;
  top: 10px;
}

/* line 36, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.tagline {
  position: relative;
  right: 20%;
  font-family: monospace;
  font-size: 4.6em;
  text-align: center;
  top: 170px;
}

/* line 45, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.index-content {
  color: white;
  font-family: 'Dosis';
  text-align: justify;
  font-size: 2.1em;
  word-spacing: -1px;
  width: 35%;
  position: relative;
  left: 35%;
  top: 180px;
}

/* line 57, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.index-container {
  position: relative;
  bottom: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 370px;
  margin-left: -10px;
  margin-right: -10px;
}

/* line 66, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#jam-now {
  position: relative;
  top: 220px;
  left: 44%;
  text-decoration: none;
  height: 26px;
  width: 120px;
  text-align: center;
  font-size: 21px;
  padding-top: 10px;
  background-color: #EC368D;
  border: 2px solid white;
}

/* line 80, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.icon {
  position: absolute;
  width: 40px;
  height: 50px;
  top: 17px;
  left: 30px;
}

/* line 88, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#icon-text {
  position: absolute;
  font-family: 'Dosis';
  font-size: 2em;
  left: 75px;
  top: 22px;
  text-decoration: none;
  border-color: #FFF;
  color: black;
  box-shadow: none;
}

/* line 100, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
a:hover {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

/* line 107, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.callbutt {
  border: none;
  font-family: 'Francois One';
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 15px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #EC368D;
  border: 2px solid #FFFDF7;
  color: #fff;
  padding: 18px 20px 15px 15px;
  border-radius: 5px;
}

/* line 132, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
button:hover {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

/* line 139, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.hidden-login-div {
  display: none;
}

/* line 143, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 490px;
  height: 360px;
  background-color: #F2F5EA;
  border-radius: 5px;
  box-shadow: 2px 3px 1px grey;
  z-index: 10;
}

/* line 157, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.modal-input-contianer {
  position: relative;
  top: 100px;
}

/* line 164, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#modal-button {
  position: absolute;
  top: 140px;
  right: 34%;
  top: 60%;
}

/* line 171, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.modal-input-2 {
  position: relative;
  left: 14px;
}

/* line 177, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#modal-input {
  padding: 8px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  border-radius: 5px;
}

/* line 185, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#login-button {
  position: relative;
  left: 83%;
  bottom: 112px;
}

/* line 192, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.call-div-container {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 400px;
  background-color: rgba(255, 250, 250, 0.9);
  position: relative;
  top: 80px;
}

/* line 204, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.call-buttons-container {
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
  display: inline-flex;
  bottom: 30px;
}

/* line 213, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.callee-container {
  margin-bottom: 20px;
}

/* line 218, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.calltext {
  font-family: 'Francois One';
  position: relative;
  font-size: 5em;
  color: white;
}

/* line 225, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.fieldset-message {
  position: relative;
  border-radius: 5px;
  bottom: 60px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 15%;
}

/* line 235, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#call-sequence-span {
  font-family: 'Francois One';
  color: #FF299C;
  font-size: 1.6em;
  position: relative;
  bottom: 50px;
}

/* line 246, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#messages {
  position: relative;
  font-family: 'Dosis';
  font-size: 25px;
  color: #5a5a5a;
  width: 100%;
  background-color: rgba(255, 250, 250, 0.6);
  margin-top: 3%;
  overflow: hidden;
}

/* line 258, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#enter-span {
  color: #FF299C;
}

/* line 262, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#live-span {
  color: #FF299C;
}

/* line 265, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#username-span {
  color: #FF299C;
}

/* line 270, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#musician-username-span {
  font-family: 'Francois One';
  color: #FF299C;
  font-size: 1.6em;
}

/* line 278, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#start-session {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  font-size: 3.3em;
  color: #FFF;
  font-weight: 800;
  height: 100px;
  text-align: center;
  position: relative;
  top: 30px;
}

/* line 292, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#show-description {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  background-color: rgba(255, 250, 250, 0.9);
  color: #5a5a5a;
  top: 70px;
}

/* line 302, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.show-description-container {
  position: relative;
  height: 100px;
  margin-left: 35%;
  margin-right: 35%;
  width: 32.5%;
  text-align: center;
}

/* line 311, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
input#callee {
  padding: 7px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 2px solid white;
  border-radius: 5px;
}

/* line 324, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.musician-username-div {
  position: inherit;
  top: 20px;
  right: 20px;
  margin-left: 20px;
  padding-top: 35px;
}

/* line 332, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.nav-bar {
  width: 100%;
  height: 110px;
  background-color: rgba(255, 250, 250, 0.9);
}

/* line 339, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.login-button-link-div {
  position: relative;
  width: 60%;
  margin-right: 15%;
  margin-left: 20%;
}

/* line 346, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#registerButt {
  position: relative;
  left: 80%;
}

/* line 352, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.register-text {
  font-family: 'Francois One';
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 9%;
}

/* line 360, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#output1 {
  font-family: 'Dosis';
  position: relative;
  letter-spacing: 5px;
  text-align: center;
  font-size: 2.1em;
  color: #FF299C;
}

/* line 369, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#output2 {
  font-family: 'Dosis';
  position: relative;
  top: 200px;
  font-size: 2.1em;
  color: #FF299C;
}

/* line 377, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#output3 {
  font-family: 'Dosis';
  position: relative;
  top: 110px;
  font-size: 1.1em;
  color: #FF299C;
}

/* line 385, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#modal-header {
  font-family: 'Dosis';
  position: absolute;
  letter-spacing: 5px;
  left: 40%;
  font-size: 2.1em;
  color: #FF299C;
}

/* line 395, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.close {
  position: relative;
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 8px;
  bottom: 1px;
}

/* line 406, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.video-container {
  width: 90%;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(255, 250, 250, 0.7);
  height: 500px;
  text-align: center;
}

/* line 416, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
.video-flex {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
}

/* line 423, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#video-header {
  width: 100%;
  height: 30px;
  font-size: 3em;
  color: #5a5a5a;
}

/* line 431, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#local-container {
  position: relative;
  width: 40%;
  margin-left: 5%;
  height: 400px;
  position: relative;
  top: 32px;
}

/* line 440, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#remote-container {
  width: 40%;
  margin-right: 5%;
  height: 400px;
  position: relative;
  top: 32px;
}

/* line 451, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
form#registration {
  max-width: 500px;
  padding: 10px 20px;
  background-color: #F2F5EA;
  border-radius: 5px;
  box-shadow: 2px 3px 1px grey;
  margin: 10px auto;
  padding: 22px;
  border-radius: 8px;
  font-family: 'Francois One';
  text-align: center;
  position: relative;
  top: 50px;
}

/* line 466, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#registration button {
  border: none;
  font-family: 'Francois One';
  font-size: 2.1em;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 15px;
  display: inline-block;
  margin: 15px 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #EC368D;
  border-color: #00893C;
  color: #fff;
  padding: 15px 20px 15px 30px;
  border-radius: 5px;
  width: 100%;
}

/* line 492, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#registration input[type="text"] {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  font-size: 20px;
}

/* line 499, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#registration input[type="text"]:focus,
#registration input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

/* line 504, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#registration input[type="password"] {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  font-size: 20px;
}

/* line 511, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#registration input[type="password"]:focus,
#registration input[type="password"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

/* line 516, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#registration p {
  font-family: 'Francois One';
  color: #EC368D;
  font-size: 1.5em;
}

/* line 522, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#back-button {
  text-decoration: none;
  position: relative;
  left: 82%;
}

/* line 528, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/home.scss */
#current-user-login {
  font-family: 'Francois One';
  color: #EC368D;
  font-size: 1.5em;
}
/* line 6, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/video.scss */
.calltext {
  font-size: 25px;
}

/* line 11, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/video.scss */
.callbutt {
  margin-left: 22px;
}

/* line 15, /Users/mattfasano/Desktop/Coding/chat_music/app/assets/stylesheets/video.scss */
fieldset {
  border: 5px solid black;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

