<!--LANDING PAGE TEXT -->
  <div class="tagline">
    <%= link_to "Ensemble", home_show_path, :id => "link-to-video" %>
  </div>

<div class="index-content">
  <p>A collaborative workspace for musicians to share music, and jam live through live video streaming </p>
</div>
