<!--LANDING PAGE TEXT -->
<div class="index-container">
  <div class="tagline">
    <p id="ensemble">Ensemble</p>
  </div>

  <div class="index-content">
    <p>A collaborative workspace for musicians to share music and jam
    anywhere across the globe using  LIVE video streaming. </p>
  </div>

<%= link_to 'Jam Now', home_show_path, :class => 'callbutt', :id => 'learn-link' %>

</div>
