  <h1 id="ensemble" >Ensemble</h1>
<!--LANDING PAGE TEXT -->
<div class="index-content">
  <div class="index-content2">
    <div class="tagline">
      <span id="plug">Plug-in</p>
        <p id="plug-hide-text">Plug-in your instrument using audio interface, and jam live!</p>
      </span>
      <div class="connect-div">
        <span id="connect">Connect</p>
          <p id="connect-hide-text">Connect with musicians globally using live audio video streaming! </p>
        </span>
      </div>
      <%= link_to "Click to Jam Live Now", home_show_path, :id => "link-to-video" %>
    </div>
  </div>
</div>
