<!--LANDING PAGE TEXT -->
<div class="content-container">
    <div class="parent1-container">
      <div class="child1-container">
        <div class="tagline">
          <h2 id="ensemble">Ensemble</h2>
        </div>
        <div class="tagline">
          <h4 id="ensemble">A Global Musicspace</h4>
        </div>
      </div>
    </div>
    <div class="parent2-container">
      <div class="child2-container">
        <div class="index-content">
          <h2 id="text">Jam with others in seconds</h2>
          <h6 id="text">Ensemble connects musicians via live audio/video streaming</h6>
        </div>
        <%= button_to home_show_path, method: :get, :class => 'callbutt', :id => 'jam-now' do %>
          Jam Now
          <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
</div>
