  <h1 id="ensemble" >Ensemble</h1>
  <!-- <div class="header-container">
  </div> -->
  <p id="" ></p>
  <div class="tagline">
    <span id="plug">Plug-in</p>
      <p id="plug-hide-text">Plug-in your instrument using audio interface, and jam live!</p>
    </span>
    <div class="connect-div">
      <span id="connect">Connect</p>
        <p id="connect-hide-text">Connect with musicians globally using live audio video streaming! </p>
      </span>
    </div>
    <a id="link-to-video" href="/home/show">Click to Jam Live Now!</a>
  </div>
