    <form id="registration">
      <p>Username</p>
      <br>
      <input type="text" name="user_id" size="35" style="text-align: center">
      <br>
      <p>First Name</p>
      <br>
      <input type="text" name="user_first_name" size="35" style="text-align: center">
      <br>
      <p>Last Name</p>
      <br>
      <input type="text" name="user_last_name" size="35" style="text-align: center">
      <br>
      <br>
      <p>Password</p>
      <input id="password" type="password" name="user_password" size="35" style="text-align: center">
      <br>
      <br>
      <br>
      <button>Submit</button>
    </form>
  <div id="output1"></div>

  <br><br>
  <div id="output2"></div>
