<!-- ============== REGISTER AND LOGIN BUTTONS ================ -->
<div class="show-page-filter">
  <div class="nav-bar">
    <div class="icon-container">
      <%= link_to(image_tag("ensemble-icon.png", :class => "icon"),"/") %>
      <a id="icon-text" href="/">Ensemble</a>
    </div>
    <div >
      <!-- LOGIN LINK -->
      <div class="login-button-link-div">
        <button id="login-button" class="callbutt login-button-link">Login</button>
        <button class="callbutt" id="register-butt" type="button" >Register Account</button>
      </div>
        <span class="register-text">Don't have an account? Register now!</span>
    </div>
  </div>
  <div class="show-container1">
    <div id="modal" class="hidden-login-div">
      <div class="modal-header-container">
        <div class="close">&times;</div>
        <p  id="modal-header">Login</p>
      </div>
      <form id="login">
          <input size="60" id="modal-input" placeholder="Username"  type="text" name="user_name"/>
          <br>
          <input size="60" id="modal-input" placeholder="Password" type="password" name="user_password" />
        <!-- OUTPUTS MESSAGES FOR LOGIN SUCCESS/FAILURE -->
        <div id="output3"></div>
        <button type="submit" class="callbutt">Submit</button>
        <div id="output2"></div>
      </form>
    </div>
    <!-- Contaner for "Start a Session" text -->
    <div class="h2-container">
      <h2 id="start-session" class="calltext">Login to start a live session!</h2>
      <!-- Container for text below "Start a Session" -->
      <h2 id="title-text">Enter a musician's username below, and start a LIVE session</h2>
    </div>
    <div class="current-user" style="border: 1px solid red; width: 50%;"  >Hi</div>

  <!-- ==================== CALL FIELD ========================= -->
  <div class="call-container">
    <!-- User input: Callee field. -->
    <br>
    <br>
    <br>
  <div class="musician-username-div">
    <span id="musician-username-span" >Enter Reciever:</span>
    <input placeholder="username + @ensemble.gmail.com" type="text" size="53" style="text-align: center" id="callee"/>
  </div>

  <div class="call-buttons-container">
      <!-- MAKE A CALL -->
    <button type="button" class="callbutt" id="makeCallButt"><span></span>Make Call</button>

    <!-- ACCEPT A CALL -->
    <button class="callbutt" type="button" id="acceptCall"><span></span>Accept Call</button>

    <!-- END A CALL -->
    <button id="callEnd" class="callbutt" type="button" name="button"><span></span>End Call</button>
  </div>
  <br>
  <br>
    <!-- MESSAGES UPDATING USER ON CURRENT CALL STATUS -->
      <div id="call-sequence">
        Call Sequence:
      </div>
      <div class="fieldset-message">
        <!-- Message output container. -->
        <div id="messages"></div>
      </div>
  </div>
</div>
  <!-- MEDIA CONTAINERS -->
  <div class="video-container-parent" >
    <div class="video-container-child">
      <p id="video-header" class="calltext">Video Content:</p>
      <div class="video-flex">
         <div id="remote-container">
         </div>
         <div id="local-container">
         </div>
      </div>
    </div>
  </div>
</div>
