<!-- ============== REGISTER AND LOGIN BUTTONS ================ -->
<div class="show-page-filter">
  <div class="nav-bar">
    <div class="icon-container">
      <%= link_to(image_tag("ensemble-icon.png", :class => "icon"),"/") %>
      <a id="icon-text" href="/">Ensemble</a>
    </div>
    <button class="callbutt" id="registerButt" type="button" >Register Account</button>
    <span class="register-text">Don't have an account? Register now!</span>
    <!-- LOGIN LINK -->
    <div class="login-button-link-div">
      <button id="login-button" class="callbutt login-button-link">Login</button>
      <br><br>
      <!-- OUTPUTS MESSAGES FOR LOGIN SUCCESS/FAILURE -->
    </div>
   </div>
    <div id="modal" class="hidden-login-div">
      <p id="modal-header">Login</p>
      <form id="login">
        <span class="close">&times;</span>
        <div class="modal-input-contianer">
          <input size="60" id="modal-input" placeholder="Username"  type="text" name="user_name" class="modal-input-2" />
          <br>
          <br>
          <input size="60" id="modal-input" placeholder="Password" type="password" name="user_password" />
        </div>
        <div id="output3"></div>
        <button id="modal-button" class="callbutt">Submit</button>
        <div id="output2"></div>
      </form>
    </div>
    <!-- Contaner for "Start a Session" text -->
    <h2 id="start-session" class="calltext">Login to start a live session!</h2>
    <!-- Container for text below "Start a Session" -->
    <div id="show-description" class="descrit calltext">
      <span id="enter-span">Enter</span> a musician's
      <span id="username-span" >username</span> below, and start a
      <span id="live-span" >LIVE</span> session!
    </div>
  <!-- ==================== CALL FIELD ========================= -->

  <div class="call-div-container">
      <!-- User input: Callee field. -->
    <div class="musician-username-div">
      <span id="musician-username-span" >Enter Reciever:</span>
      <input placeholder="username + @ensemble.gmail.com" type="text" size="45" style="text-align: center" id="callee"/>
    </div>

    <div class="call-buttons-container">
        <!-- MAKE A CALL -->
      <button type="button" class="callbutt" id="makeCallButt"><span></span>Make Call</button>

      <!-- ACCEPT A CALL -->
      <button class="callbutt" type="button" id="acceptCall"><span></span>Accept Call</button>

      <!-- END A CALL -->
      <button id="callEnd" class="callbutt" type="button" name="button"><span></span>End Call</button>

      <!-- TOGGLE VIDEO -->
      <button class="callbutt" id="showVideo"><span></span>Toggle Video</button>

    </div>
    <br>
    <br>
      <!-- MESSAGES UPDATING USER ON CURRENT CALL STATUS -->
      <div id="call-sequence-span">Call Sequence:</div>
      <div class="fieldset-message">
        <!-- Message output container. -->
        <div id="messages"> </div>
      </div>
  </div>
    <!-- MEDIA CONTAINERS -->
    <br>
    <br>
  <div class="call-text-flex">
   <div id="remote-container"><p class="calltext">Remote video:</p>
   </div>
   <div id="local-container"><p class="calltext">Local video:</p>
   </div>
   </div>
</div>
