
  <div id="modal">
    <form id="registration">
      <p>User Name</p>
      <br>
      <input type="text" name="user_id" size="35" style="text-align: center">
      <br>
      <p>First Name</p>
      <br>
      <input type="text" name="user_first_name" size="35" style="text-align: center">
      <br>
      <p>Last Name</p>
      <br>
      <input type="text" name="user_last_name" size="35" style="text-align: center">
      <br>
      <br>
      <p>Password</p>
      <input id="password" type="password" name="user_password" size="35" style="text-align: center">
      <br>
      <br>
      <br>
      <button>Submit</button>
    </form>
  <div id="output1"></div>

  <br><br>
  <div id="output2"></div>
</div>
<!-- ============== REGISTER AND LOGIN BUTTONS ================ -->
<div class="register-button">
  <button class="callbutt" id="modalButt" type="button" name="button">Register Account!</button>
</div>
<div class="login-button">
    <form id="login">
    <input value="" placeholder="USERNAME"  type="text" name="user_name" />
    <input value="" placeholder="PASSWORD" type="password" name="user_password" />
    <button class="callbutt">Login</button>
  </form>

  <br><br>
  <div id="output2"></div>
</div>

<!-- ==================== CALL FIELD ========================= -->
<div class="hide-show-container">
  <fieldset>
    <legend>Call Management</legend>

    <!-- User input: Callee field. -->
    <span class="calltext" >Callee:</span> <input type="text" id="callee"/>

    <!-- MAKE A CALL -->
    <button type="button" class="callbutt" id="makeCallButt"><span></span>Make Call</button>

    <!-- TOGGLE VIDEO -->
    <button class="callbutt" id="showVideo"><span></span>Toggle Video</button>

    <!-- END A CALL -->
    <button class="callbutt" type="button" name="button"><span></span>End Call</button>

    <!-- ACCEPT A CALL -->
    <button class="callbutt" type="button"  id="acceptCall"><span></span>Accept Call</button>

  </fieldset>

  <!-- MESSAGES UPDATING USER ON CURRENT CALL STATUS -->
  <fieldset>
      <legend class="calltext">Messages</legend>

      <!-- Message output container. -->
      <div id="messages"> </div>
  </fieldset>

  <!-- MEDIA CONTAINERS -->
  Remote video: <div id="remote-container"></div>

  Local video: <div id="local-container"></div>
</div>
