<!-- ============== REGISTER AND LOGIN BUTTONS ================ -->

<div class="show-page-filter">
  <div class="show-page-content">
    <div id="current-user-login"></div>
    <button class="callbutt" id="registerButt" type="button" >Register Account</button>
    <!-- LOGIN LINK -->
    <div class="login-button-link-div">
      <button id="login-button" class="callbutt login-button-link">Login</button>
      <br><br>
      <!-- OUTPUTS MESSAGES FOR LOGIN SUCCESS/FAILURE -->
    </div>
    <div id="modal" class="hidden-login-div">
      <div id="output2"></div>
      <form id="login">
        <span class="close">&times;</span>
        <input size="30" id="modal-input" placeholder="USERNAME"  type="text" name="user_name" />
        <br>
        <br>
        <input size="30" class="modal-input-2" id="modal-input" placeholder="PASSWORD" type="password" name="user_password" />

        <button id="modal-button" class="callbutt">Submit</button>
      </form>
    </div>

    <!-- ==================== CALL FIELD ========================= -->

<h2 id="start-session" class="calltext">Start Session!</h2>
  <div id="show-description" class="calltext"><span id="enter-span">Enter</span> a fellow musician's <span id="username-span" >username</span> below, and start a <span id="live-span" >LIVE</span> session!</div>

    <div class="call-div-container">

      <!-- User input: Callee field. -->
    <div class="musician-username-div">
      <span class="calltext" >Musician Username:</span>
      <input placeholder="username + @ensemble.gmail.com" type="text" size="45" style="text-align: center" id="callee"/>
    </div>

    <div class="call-buttons-container">
        <!-- MAKE A CALL -->
      <button type="button" class="callbutt" id="makeCallButt"><span></span>Make Call</button>

      <!-- ACCEPT A CALL -->
      <button class="callbutt" type="button"  id="acceptCall"><span></span>Accept Call</button>

      <!-- END A CALL -->
      <button id="callEnd" class="callbutt" type="button" name="button"><span></span>End Call</button>

      <!-- TOGGLE VIDEO -->
      <button class="callbutt" id="showVideo"><span></span>Toggle Video</button>

    </div>
    </div>
    <br>
    <br>
      <!-- MESSAGES UPDATING USER ON CURRENT CALL STATUS -->
      <div class="fieldset-message">
        <div class="calltext">Call Sequence:</div>
        <!-- Message output container. -->
        <div id="messages"> </div>
      </div>

    <!-- MEDIA CONTAINERS -->
    <br>
    <br>
    <p class="calltext">Remote video:</p>
     <div id="remote-container"></div>
    <p class="calltext" >Local video:</p>
     <div id="local-container"></div>
  </div>
</div>
