// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #FFF;
  margin: 0px;
  padding-bottom: 0px;
}

.content-container {
  background: #FFF;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 50;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

.parent1-container {
  height: 100%;
  width: 50%;
  background-color: #50d0ff;
  padding: 50px;
  display: flex;
}

.equalizer-image {

}

.parent2-container {
  height: 100%;
  width: 50%;
  background-color: #ff7f50;
  padding: 50px;
  display: flex;
}

.child1-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.child2-container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#text {
  text-align: center;
  margin: 20px;
}

h5#text {
  color: rgba(255,255,255, .9)
}

// HEADER STYLING
#ensemble {
  position: relative;
  font-family: 'Francois One';
  text-decoration: none;
  color: #FFF;
  font-weight: 800;
  margin-bottom: 8%;
}

// CONTAINER FOR ALL OTHER FONT ON LANDING PAGE
.tagline {
  font-family: 'montserrat';
  font-size: 4.6em;
}

// Landing page container for app description
.index-content {
  color: white;
  font-family: 'Francois One';
  font-size: 2.1em;
  text-align: left;

}

// "JAM NOW" button
#jam-now {
  position: relative;
  right: 20px;
  text-decoration: none;
  font-size: 40px;
  background-color: #FFF;
  width: 100%;
  padding: 20px 80px;
  color: #ff7f50;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}


i.fa.fa-arrow-circle-o-down {
  font-size: 60px;
  padding: 4px 0 0 0;
  margin-right: 10px;

}

.mic-image {
  width: 30%;
  height: 30%;
  margin-right: 5%;
}

/* ======== SHOW PAGE ======= */

.show-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;
}

.icon-container{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  width: 80px;
  height: 80px;
}

#icon-text {
  font-family: 'Francois One';
  font-size: 3.2em;
  text-decoration: none;
  color: #ff7f50;
  box-shadow: none;
  margin-left: 20px;

}

a:hover {
  opacity: 1;
}

img.icon:hover {
  border-color: none;
}

button:hover {
  background-color: #FFF;
  opacity: 1;
  color: #ff7f50;
  border: 3px solid #ff7f50;
}

// ALL BUTTONS ON HOME/SHOW PAGE`
.callbutt {
  border: none;
  font-family: 'Francois One';
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 15px;
  display: inline-block;
  margin: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ff7f50;
  border: 3px solid #FFF;
  color: #FFF;
  padding: 20px 85px;
  border-radius: 5px;
  font-size: 20px;
  opacity: .9;

}

// ======== Start Modal ==========
// Hidden modal div
.hidden-login-div {
  display: none;
}
// This is the visible modal div
#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
  height: 60%;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 2px 3px 1px grey;
  z-index: 10;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-header-container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

// "Login" text on modal
#modal-header {
  font-family: 'Francois One';
  letter-spacing: 5px;
  font-size: 4em;
  margin: 0 0 5% 40%;
  color: #5a5a5a;
}

// Modal "exit" button
.close {
  position: relative;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  height: 50px;
  padding: 0 10px 0 0;
}

// Class for modal inputs
.modal-input-container {
  background-color: red;
  width: inherit;
}

// Username and Password inputs on modal
#modal-input {
  padding: 22px;
  font-size: 1em;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  border-radius: 5px;
  margin: 0 0 10% 0;
  width: 100%;
  height: 50%;
}

// Login button that opens modal
#login-button {
  border: 2px solid #ff7f50;
}

#register-butt {
  border: 2px solid #ff7f50;
}
// ======== End Modal ===========
// Container for all call related functionallity (buttons, inputs, messages)
.call-container {
  width: 100%;
  padding-top: 60px;
  height: 550px;
  background-color: rgb(250,235,215);
  text-align: center;
}

// Container specific to call buttons
.call-buttons-container {
  margin: 50px 0 0 0;
}
// Container specific for callee input
.callee-container {
  box-shadow: 3px 3px 3px grey;
}

// ALL TEXT WITHIN THE CALL FIELDSET
.calltext {
  font-family: 'Francois One';
  position: relative;
  font-size: 5em;
  color: white;
}

.fieldset-message {
  border-radius: 5px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
// the words "call sequence"
#call-sequence {
  font-family: 'Francois One';
  color: #ff7f50;
  font-size: 1.6em;
  width: 50%;
  margin-left: 25%;
}

// Video initialzed messages. (When making a call,
// messages update the current call process)
#messages {
  position: relative;
  font-family: 'Dosis';
  font-size: 25px;
  color: #5a5a5a;
  width: 100%;
  background-color: #FFF;
  margin-top: 3%;
  overflow: hidden;
}

// The word "enter"
#enter-span {
  color: #FF299C;
}
// The word "live"
#live-span {
  color: #FF299C;}
// The word "username"
#username-span {
  color: #FF299C;
}

// the words "musician's username`"
#musician-username-span {
  font-family: 'Francois One';
  color: #5a5a5a;
  font-size: 1.6em;
  margin-left: 20%;
}

.h2-container {
  width: 100%;
  margin: 30px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// Start Session object
#start-session {
  width: 100%;
  font-size: 3.3em;
  color: #5a5a5a;
  font-weight: 800;
  text-align: center;
}

// Show description object
#title-text {
  font-family: 'Francois One';
  width: 60%;
  text-align: center;
  color: #5a5a5a;
  opacity: .8;
}

// Musician username input
input#callee {
  padding: 7px;
  border: solid 1px #FFF;
  box-shadow: inset 1px 1px 2px 0 #707070;
  font-size: 20px;
  background-color: #FFF;
  border:none;
  border-bottom: 2px solid white;
  border-radius: 5px;
}

// Musician username container
.musician-username-div {
  text-align: left;
}

.nav-bar {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  background-color: rgb(250,235,215);
  box-shadow: 2px 2px 2px 0 #707070;
}

// Login button which opens a modal to login
.login-button-link-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.register-text {
  font-family: 'Francois One';
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 58.8%;
}
// Login message text displayed on modal
#output1 {
  font-family: 'Dosis';
  position: relative;
  letter-spacing: 5px;
  text-align: center;
  font-size: 2.1em;
  color: #FF299C;
}
// Registration message text
#output2 {
  font-family: 'Dosis';
  font-size: 2.1em;
  color: black;
}

#output3 {
  font-family: 'Dosis';
  position: relative;
  font-size: 1.1em;
  color: black;
}

.video-container-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;

}

.video-container-child {
  width: 100%;
  background-color: rgb(250,235,215);
  height: 650px;
  box-shadow: 3px 3px 3px grey;
  text-align: center;
}


.video-flex {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
}

#video-header {
  width: 100%;
  height: 80px;
  font-size: 3em;
  color: #5a5a5a;
}

// Remote video container
#local-container {
  position: relative;
  width: 40%;
  margin-left: 5%;
  height: 400px;
  position: relative;
}
// Local video container
#remote-container {
  width: 40%;
  margin-right: 5%;
  height: 400px;
  position: relative;
}

// REGISTRATION FORM ON HOME/REGISTRATION PAGE
form#registration {
  max-width: 80%;
  padding: 10px 20px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 2px 3px 1px grey;
  margin: 10px auto;
  padding: 22px;
  border-radius: 8px;
  font-family: 'Francois One';
  text-align: center;
  position: relative;
  top: 50px;
}
// registration button
#registration button {
  border: none;
  font-family: 'Francois One';
  font-size: 2.1em;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 15px;
  display: inline-block;
  margin: 15px 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #50d0ff;
  border-color: #50d0ff;
  color: #fff;
  padding: 15px 20px 15px 30px;
  border-radius: 5px;
  width: 80%;
}
// registration inputs
#registration input[type="text"] {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  font-size: 20px;
  width: 80%;

}
#registration input[type="text"]:focus,
#registration input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

#registration input[type="password"] {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  font-size: 20px;
  width: 80%;
}
#registration input[type="password"]:focus,
#registration input[type="password"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
// Registration text
#registration p {
  font-family: 'Francois One';
  color: #5a5a5a;
  font-size: 2em;
}

#back-button {
  text-decoration: none;
  float: right;
}

#current-user-login {
  font-family: 'Francois One';
  color: #EC368D;
  font-size: 1.5em;
}
