// Place all the styles related to the video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.calltext {
  font-size: 25px;

}

.callbutt {
  margin-left: 22px;
}

fieldset {
  border: 5px solid black;

}
